<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Zombies Interactive.app</string>
		<key>CFBundleIdentifier</key>
		<string>edu.northwestern.delta.Zombies-Interactive</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>iPhone Distribution: Northwestern University</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2016-02-29T23:48:53Z</date>
	<key>Name</key>
	<string>Zombies Interactive</string>
	<key>SchemeName</key>
	<string>Zombies Interactive</string>
</dict>
</plist>
